1. A book with more than 500 pages (9/2015)
2. A classic romance (9/2015)
3. A book that became a movie (5/2015)
4. A book published this year
5. A book with a number in the title (6/2015)
6. A book written by someone under 30 (10/2015)
7. A book with paranormal characters (7/2015)
8. A funny book
9. A book recommended by an author
10. A romantic mystery/suspense/thriller (9/2015)
11. A book with a one word title (8/2015)
12. A book of short stories (10/2015)
13. A book set in a different country
14. A nonfiction book (5/2015)
15. A popular author's first book
16. A book from an author you love but haven't read yet (4/2015)
17. A book a friend recommended (6/2015)
18. A NY Times bestseller (4/2015)
19. A re-adaptation of a popular story
20. A freebie you've downloaded
21. A book that hits close to home
22. A book you can finish in a day
23. A book with antonyms in the title
24. A book set somewhere you've always wanted to go (3/2015)
25. A book that came out the year you graduated college (7/2015)
26. A book with bad reviews
27. A trilogy (8/2015)
28. A book about childhood friends (8/2015)
29. A book with a love triangle (3/2015)
30. A dystopian book (6/2015)
31. A book set in high school
32. A book with a color in the title (4/2015)
33. A book that made you cry
34. A book with magic (5/2015)
35. A book by a make author
36. A book by an author you've never heard of
37. A book you own but have never read (3/2015)
38. A book that takes place in your hometown (7/2015)
39. A book published during a year that is significant to you (10/2015)
40. A book set during winter