{% extends "base.html" %}
{% block title %}List of Topics{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
        .unused { font-weight: bold; }
        #tableGrid {width: 500px;  font-family: 'Shadows Into Light', cursive; }
        th {font-size: 24pt;}
        tbody {font-size: 14pt;}

    </style>
    <script type="text/javascript">
        var data = [
{'title':"A book with more than 500 pages",'used':'9/2015'},
{'title':"A classic romance",'used':'9/2015'},
{'title':"A book that became a movie",'used':'5/2015'},
{'title':"A book published this year",'used':''},
{'title':"A book with a number in the title",'used':'6/2015'},
{'title':"A book written by someone under 30",'used':'10/2015'},
{'title':"A book with paranormal characters",'used':'7/2015'},
{'title':"A funny book",'used':''},
{'title':"A book recommended by an author",'used':''},
{'title':"A romantic mystery/suspense/thriller",'used':'9/2015'},
{'title':"A book with a one word title",'used':'8/2015'},
{'title':"A book of short stories",'used':'10/2015'},
{'title':"A book set in a different country",'used':''},
{'title':"A nonfiction book",'used':'5/2015'},
{'title':"A popular author's first book",'used':''},
{'title':"A book from an author you love but haven't read yet",'used':'4/2015'},
{'title':"A book a friend recommended",'used':'6/2015'},
{'title':"A NY Times bestseller",'used':'4/2015'},
{'title':"A re-adaptation of a popular story",'used':''},
{'title':"A freebie you've downloaded",'used':''},
{'title':"A book that hits close to home",'used':''},
{'title':"A book you can finish in a day",'used':''},
{'title':"A book with antonyms in the title",'used':''},
{'title':"A book set somewhere you've always wanted to go",'used':'3/2015'},
{'title':"A book that came out the year you graduated college",'used':'7/2015'},
{'title':"A book with bad reviews",'used':''},
{'title':"A trilogy",'used':'8/2015'},
{'title':"A book about childhood friends",'used':'8/2015'},
{'title':"A book with a love triangle",'used':'3/2015'},
{'title':"A dystopian book",'used':'6/2015'},
{'title':"A book set in high school",'used':''},
{'title':"A book with a color in the title",'used':'4/2015'},
{'title':"A book that made you cry",'used':''},
{'title':"A book with magic",'used':'5/2015'},
{'title':"A book by a male author",'used':''},
{'title':"A book by an author you've never heard of",'used':''},
{'title':"A book you own but have never read",'used':'3/2015'},
{'title':"A book that takes place in your hometown",'used':'7/2015'},
{'title':"A book published during a year that is significant to you",'used':'10/2015'},
{'title':"A book set during winter",'used':''},


        ];
        $( document ).ready(function() {
        var count=1;
 for (var i=0; i<data.length; i++){
    var item=data[i];
    if (item['used']===''){
        $('#topicsTable').append('<tr><td>'+ count +'</td><td class="unused">'+item['title'] +'</td><td></td></tr>');
        count++;
    }
 }
  for (var i=0; i<data.length; i++){
    var item=data[i];
    if (item['used']!==''){
        $('#topicsTable').append('<tr><td></td><td>'+item['title'] +'</td><td>'+ item['used'] +'</td></tr>');

    }
 }
});
    </script>
{% endblock %}
{% block content %}
<table class="table table-bordered" id="tableGrid" >

    <thead>
        <tr>
            <th>#</th>
            <th>TITLE</th>
            <th>READ</th>
        </tr>
    </thead>
    <tbody id="topicsTable">
    </tbody>
</table>

{% endblock %}